<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Accademia</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- EN TETE-->
    <header>
        <!-- LOGO -->
        <div class="logo">Accademia</div>
        <!-- MENU -->
        <nav>
            <ul>
                <li><a href="#">Our schools</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="langues.html">Langues</a></li>
            </ul>
        </nav>
    </header>
    <!-- CORPS DE LA PAGE-->
    <main>
        <!-- ACCUEIL -->
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to Accademia</h1>
                <p>Your gateway to quality education.</p>
                <button class="btn-primary">Learn more</button>
            </div>
            <div class="hero-image">
                <img src="images.jpg" alt="École italienne">
            </div>
        </section>
        <!-- Section Cours -->
        <section class="courses">
            <div class="container">
                <h2>Explorez nos cours</h2>
                <p>Small class sizes allow teachers to track linguistic progress.</p>

                <div class="cards-grid">
                    <article class="card">
                        <img src="" alt="Morning routine">
                        <h3>Morning routine</h3>
                        <p>Italian in Italy</p>
                    </article>
                    <article class="card">
                        <img src="" alt="Morning routine">
                        <h3>Morning routine</h3>
                        <p>Italian in Italy</p>
                    </article>
                    <article class="card">
                        <img src="" alt="Morning routine">
                        <h3>Morning routine</h3>
                        <p>Italian in Italy</p>
                    </article>
                    <article class="card">
                        <img src="" alt="Morning routine">
                        <h3>Morning routine</h3>
                        <p>Italian in Italy</p>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>